name: Windows - RustDesk

on:
  workflow_dispatch:

jobs:
  build:
    name: Start Building...
    runs-on: windows-latest

    steps:
      - name: Downloading & Installing Essentials
        run: |
          Invoke-WebRequest -Uri "https://www.dropbox.com/scl/fi/qdyd4p9t6xoabl95n5o3g/Downloads.bat?rlkey=snr74vv1vr8k5suujugvrhjtm&dl=1" -OutFile "Downloads.bat"
          cmd /c Downloads.bat

      - name: Log In To AnyDesk
        run: cmd /c show.bat

      - name: Time Counter (Непрерывный)
        # Используем `run: bash -c` для запуска скрипта в фоновом режиме
        run: bash -c 'nohup python time.py &'
        # Устанавливаем `continue-on-error: true` чтобы workflow не завершался, если скрипт завершится
        continue-on-error: true
